extends ../layouts/application.pug

block header
  = t('views.tasks.tasks')

block content
    +linkTo(route('newTask'), 'get')(class='btn btn-primary' value=t('views.tasks.createTask'))
    
    .card.shadow-sm
        .card-body.p-4
            +formFor()(action='/tasks' method='get')
                .row
                    .col-md-4
                        .input-group.mb-3
                            label.input-group-text(for='data_statusId') Статус
                            +selectIndex(errors, t('views.tasks.statusId'), taskStatuses)
                    .col-md-4
                        .input-group.mb-3
                            label.input-group-text(for='data_executor') Исполнитель
                            +selectIndex(errors, t('views.tasks.executorId'), user)
                    .col-md-4
                        .input-group.mb-3
                            label.input-group-text(for='data_label') Метки
                            +selectIndex(errors, t('views.labels.labels'), label)
                .mb-3.form-check
                    input#data_isCreatorUser.form-check-input(type='checkbox' name='isCreatorUser')
                    label.form-check-label(from='data_isCreatorUser') Только мои задачи
                +submit(tasks)(class='btn btn-primary' value=t('views.tasks.view'))

    table.table.table-striped
        thead
            tr
                th= t('views.tasks.id')
                th= t('views.tasks.name')
                th= t('views.tasks.statusId')
                th= t('views.tasks.author')
                th= t('views.tasks.executorId')
                th= t('views.tasks.createdAt')
        tbody
        each task in tasks
            tr
                td= task.id
                td 
                    +link(route('viewTask', { id: task.id }), task.name)
                td= task.status
                td= task.creatorName
                td= task.executorName
                td= formatDate(task.createdAt)
                td
                    .btn-group
                        +linkTo(route('editTask', { id: task.id }))(class='btn btn-primary' value=t('views.statuses.change'))
                        +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class='btn btn-danger' value=t('views.statuses.delete'))
